/* Custom properties inside the root selector */
:root {
    /* Setting custom color values that can be called in the rest of the code */
    --color-primary: #d73953;
    --color-black: #090909;
    --color-white: #ffffff;
    --color-light-grey: #f3f3f3;
    --color-dark-grey: #353535;
    --text-color: var(--color-black);

    /* Setting custom text font values that can be called in the rest of the code */
    --font-family-base: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
    --font-family-title: "Raleway", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";

    /* Setting custom font size values that can be called in the rest of the code */
    --font-size-small: 1.2rem;
    --font-size-medium: 1.6rem;
    --font-size-large: 1.8rem;
    --font-size-x-large: 2.3rem;
    --font-size-xx-large: 4.8rem;

    /* Setting custom font weight values that can be called in the rest of the code */
    --font-weight-regular: 400;
    --font-weight-bold: 700;

    /* Setting custom line height values that can be called in the rest of the code */
    --line-height-small: 1.2;
    --line-height-base: 1.5;
    --line-height-big: 1.8;

    /* Setting custom alignment property */
    --section-header-align: center;

    /* Setting custom alignment property */
    --section-tagline-transform: uppercase;

    /* Setting custom title property */
    --section-title-margin: 0;
    --section-title-color: var(var(--color-black));
}

html {
    scroll-behavior: smooth;
    font-size: 62.5%;
}

/* targetting the body section */
body {
    color: var(--text-color);
    font-family: var(--font-family-base);
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-regular);
    line-height: var(--line-height-base);
}

/* targetting the anchors */
a {
    color: var(--text-color);
    text-decoration: none;
}

/* targetting the visually-hidden class */
.visually-hidden {
    display: none;
}

/* targetting the card-category class */
.card-category {
    color: var(--color-primary);
}

/* targetting the section-header class */
.section-header {
    text-align: var(--section-header-align);
}

.section-title {
    font-family: var(--font-family-title);
    font-size: var(--font-size-xx-large);
    font-weight: var(--font-weight-bold);
    margin: var(--section-title-margin);
    color: var(--section-title-color);
}

/* targetting the section-tagline class */
.section-tagline {
    color: var(--color-primary);
    font-family: var(--font-family-title);
    text-transform: var(--section-tagline-transform);
    font-weight: var(--font-weight-bold);
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-family-title);
    font-weight: var(--font-weight-bold);
}
